:root {
  --primery-color: rgb(73, 238, 32);
  --shadow-color: rgba(73, 238, 32, 0.562);
}
html,
body {
  padding: 0;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bodyContainor {
  min-height: 100%;
  position: relative;
}

#hr {
  color: var(--primery-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar {
  --bs-navbar-padding-y: 0px !important;
  background: black !important;
  box-shadow: var(--shadow-color) 0px 0px 10px 0;
}
#developerName {
  color: var(--primery-color) !important;
  font-size: 28px !important;
  font-family: "Playball", cursive !important;
  letter-spacing: 1px;
}
.navbar-toggler {
  border: none !important;
}
#menu {
  color: var(--primery-color) !important;
  font-size: 23px !important;
  box-shadow: var(--shadow-color) 0px 0px 10px 0;
  border-radius: 4px;
}
i {
  color: var(--primery-color) !important;
}
i:hover {
  transform: scale(1.3);
}
.nav-link {
  color: var(--primery-color) !important;
  font-family: "Petrona", serif !important;
  letter-spacing: 1px;
  font-size: 20px !important;
  font-weight: 400 !important;
}
.profilePic {
  border-radius: 80px;
  margin-top: 160px;
}
.description {
  font-family: "Special Elite", cursive;
  color: whitesmoke !important;
  padding: 8px;
  margin-top: 10px !important;
  font-size: 33px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-align: start;
}

.liLink,
#liLink {
  font-size: 17px;
  letter-spacing: 3px;
  font-family: "Special Elite", cursive;
  color: var(--primery-color) !important;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  padding-left: 15px;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}
li:hover {
  transform: scale(1.05);
}

.aboutDescription {
  letter-spacing: 1px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 0px !important;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 500 !important;
  text-transform: capitalize;
  font-family: "Petrona", serif;
}
#aboutDescriptionName {
  color: var(--primery-color);
  font-size: 44px;
  font-weight: bolder;
}

#aboutrow {
  align-items: flex-end;
}
.responsiveCertificateDes {
  color: whitesmoke;
}
.plusCertificateDes {
  color: whitesmoke;
}
.basicCertificateDes {
  color: whitesmoke;
}
.col-6 {
  font-size: 20px;
  font-family: "Petrona", serif;
}
.img-fluid {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
}
.img-fluid:hover {
  filter: brightness(0.5);
}
#skills {
  color: var(--primery-color);
  font-size: 20px;
  letter-spacing: 2px;
}
#certificateDes {
  border-left: 1px groove var(--shadow-color);
  border-bottom: 1px groove var(--shadow-color);
  border-radius: 8px;
}
#worksContainer {
  padding-top: 70px;
  padding-bottom: 30px;
}
.workRow {
  align-items: center;
}
.worksTitle {
  color: var(--primery-color) !important;
  text-align: center;
  font-family: "Petrona", serif;
  font-size: 47px;
  font-weight: 600;
  padding-top: 10px;
}

.workDescription {
  font-family: "Petrona", serif;
  color: whitesmoke !important;
  font-size: 24px;
  text-align: center;
  align-items: flex-end;
}
.worksDesTitle {
  color: var(--primery-color) !important;
  text-align: center;
  font-family: "Petrona", serif;
  font-size: 33px;
  font-weight: 500;
  padding-top: 10px;
}
.lunch-link {
  color: var(--primery-color);
  padding: 15px;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid var(--primery-color);
  font-family: "Petrona", serif;
  letter-spacing: 1px;
  align-items: center;
  text-align: center;
  font-size: 22px;
}
.lunch-link:hover {
  box-shadow: 0px 0px 8px 0px var(--shadow-color);
}
.contactTitle {
  color: whitesmoke;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  font-weight: 400;
  padding-top: 180px;
  font-family: "Petrona", serif;
  background: rgba(0, 0, 0, 0.8);
}
#contactTitle {
  color: whitesmoke;
  font-family: "Special Elite", cursive;
  font-size: 80px;
  font-weight: 400;
  margin-top: 0px;
  font-family: "Petrona", serif;
  background: rgba(0, 0, 0, 0.8);
  line-height: 70%;
}
.contactLink {
  color: whitesmoke;
  font-family: "Petrona", serif;
  font-size: 24px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.8);
  margin: 0px 30px;
}
.acontactLink {
  color: var(--primery-color) !important;
  font-family: "Petrona", serif;
  font-size: 23px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.acontactLink:hover {
  transform: scale(1.05);
}

.acontactLink:visited {
  color: var(--shadow-color);
}
.icolor {
  color: whitesmoke !important;
}

.footer {
  text-decoration: none;
  margin-bottom: 5px !important;
  padding: 0px !important;
}
.footerDescription {
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0px !important;
  margin-top: 30px !important;
  padding: 10px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500 !important;
  text-transform: capitalize;
  font-family: "Petrona", serif;
}

@media (max-width: 700px) {
  #developerName {
    font-size: 20px !important;
  }
}
@media (max-width: 550px) {
  #skills {
    font-size: 15px !important;
  }
  .col-6 {
    font-size: 13px !important;
  }
  .aboutDescription {
    font-size: 16px;
  }
  #aboutDescriptionName {
    font-size: 22px;
  }
  #developerName {
    font-size: 18px !important;
  }
}

@media (max-width: 440px) {
  .footerDescription {
    font-size: 16px;
  }
  #developerName {
    font-size: 16px !important;
  }
  #liLink,
  .liLink {
    font-size: 13px !important;
  }

  #aboutDescriptionName {
    font-size: 20px;
  }
  .plusCertificateDes,
  .basicCertificateDes {
    font-size: smaller;
  }
  #contactTitle {
    font-size: 40px;
  }
  .contactTitle {
    font-size: 16px;
  }
  .contactLink {
    font-size: 16px;
  }
  .acontactLink {
    font-size: 15px;
  }
}

@media (max-width: 293px) {
  #developerName {
    font-size: 14px !important;
    letter-spacing: 0px;
  }
  #liLink,
  .liLink {
    font-size: 12px !important;
  }
}
