:root {
  --primery-color: rgb(73, 238, 32);
  --shadow-color: rgba(73, 238, 32, 0.562);
}

.navbar {
  --bs-navbar-padding-y: 0px !important;
  background: black !important;
}
#developerName {
  color: var(--primery-color) !important;
  font-size: 26px !important;
  font-family: "Satisfy", cursive !important;
  letter-spacing: 1px;
}
.navbar-toggler {
  border: none !important;
}
#menu {
  color: var(--primery-color) !important;
  font-size: 23px !important;
  box-shadow: var(--shadow-color) 0px 0px 10px 0;
  border-radius: 4px;
}
i {
  color: var(--primery-color) !important;
}
i:hover {
  transform: scale(1.3);
}
.nav-link {
  color: var(--primery-color) !important;
  font-family: "Petrona", serif !important;
  letter-spacing: 1px;
  font-size: 20px !important;
  font-weight: 400 !important;
}
.profilePic {
  border-radius: 80px;
  margin-top: 160px;
}
.description {
  font-family: "Special Elite", cursive;
  color: whitesmoke !important;
  padding: 8px;
  margin-top: 10px !important;
  font-size: 33px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  text-align: start;
}

.liLink,
#liLink {
  font-size: 17px;
  letter-spacing: 3px;
  font-family: "Special Elite", cursive;
  color: var(--primery-color) !important;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  padding-left: 15px;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}
li:hover {
  transform: scale(1.05);
}

.aboutDescription {
  letter-spacing: 1px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px !important;
  padding: 10px;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 500 !important;
  text-transform: capitalize;
  font-family: "Petrona", serif;
}
#aboutDescriptionName {
  color: var(--primery-color);
  font-size: 44px;
  font-weight: bolder;
}
#aboutrow {
  align-items: flex-end;
}

.plusCertificateDes {
  color: whitesmoke;
}
.basicCertificateDes {
  color: whitesmoke;
}
.col-6 {
  font-size: 20px;
  font-family: "Petrona", serif;
}
.img-fluid {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
}
.img-fluid:hover {
  filter: brightness(0.5);
}
#skills {
  color: var(--primery-color);
  font-size: 20px;
  letter-spacing: 2px;
}
#certificateDes{
  border-left: 1px groove var(--shadow-color); 
  border-bottom: 1px groove var(--shadow-color);
}

.footer {
  text-decoration: none;
  margin-bottom: 5px !important;
  padding: 0px !important;
}
@media (max-width: 700px) {
 #developerName {
    font-size: 18px !important;
  }
}
@media (max-width: 550px) {
  #skills {
    font-size: 15px !important;
  }
  .col-6 {
    font-size: 13px !important;
  }
  .aboutDescription {
    font-size: 16px;
  }
  #aboutDescriptionName {
    font-size: 22px;
  }
 
}

@media (max-width: 390px) {
  #developerName {
    font-size: 15px !important;
  }
  #liLink,
  .liLink {
    font-size: 13px !important;
  }
 
  #aboutDescriptionName {
    font-size: 20px;
  }
  .plusCertificateDes,
  .basicCertificateDes {
    font-size: smaller;
  }
}
@media (max-width: 266px) {
  #developerName {
    font-size: 13px !important;
    letter-spacing: 0px;
  }
  #liLink,
  .liLink {
    font-size: 12px !important;
  }
}
